        .parentDisable {
            position: fixed;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0.8;
            z-index: 998;
            height: 100%;
            width: 100%;
        }

        .nulling {
            position: absolute;
            z-index: 999;
            left: 825px;
            top: 53px;
        }

        @media (max-width: 768px) {
            .nulling {
                left: auto;
                right: 50px;
            }
        }

.wrapper {
  margin-top: 15%; 
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('https://avatanplus.com/files/resources/original/5731da067be691549abba96c.jpg');
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
	text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin a {
	color: #FFF;
}

		.main-container { width:100%; height:100%; } 
.layer-1 { width:2000px; height:1000px; }
.layer-1{
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(47,0,255,1) 1%, rgba(255,0,0,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(47,0,255,1) 1%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(47,0,255,1) 1%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(47,0,255,1) 1%, rgba(255,0,0,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(47,0,255,1) 1%, rgba(255,0,0,1) 100%);
}


.cssload-container{
	position:absolute;
    top: 50%;
    bottom: 50%;
    right:50%;
    left:50%;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}